body {
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 2.0s ease-in-out;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: height 1.0s ease-in-out, background-color 0.5s ease-in-out;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.intro {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveUp 2.0s ease-in-out;
    animation-fill-mode: forwards;
    transition: top 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    transition: marginTop 0.5s ease-in-out;
}

.alert-message {
    display: none !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-size: 20px;
}

@keyframes moveUp {
    from {
        top: 50%;
    }

    to {
        top: 45%;
    }
}

.animated-text {
    font-size: 1.1rem;
    line-height: 1.7;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: fadeIn 1s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.learn-more {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
}

footer:hover {
    background-color: #555;
}

.nav-button {
    opacity: 0;
}

.nav-button.animate {
    animation: fadeIn 2.0s ease-in-out;
    animation-fill-mode: forwards;
}